:root {
  --modelAlert-transition: 250ms;
  --model-alert-index: 1100;
  --model-alert-box-color: #fff;
  --model-alert-box-animation-time: 750ms;
}
@keyframes expandandreduce {
  50% {
    transform: translate(-50%, -50%) scale(1.025);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
div#model-alert-outershell {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--popup-overlay);
  display: none;
  z-index: var(--model-alert-index);
}
div#model-alert-outershell > div#model-alertbox {
  position: absolute;
  width: max(270px, 50%);
  height: fit-content;
  min-height: 160px;
  border-radius: 10px;
  background-color: var(--model-alert-box-color);
  opacity: 0;
  left: 50%;
  top: -100%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: var(--modelAlert-transition) ease-in-out;
}
div#model-alert-outershell > div#model-alertbox.animate {
  animation-name: expandandreduce;
  animation-duration: var(--model-alert-box-animation-time);
}
div#model-alert-outershell > div#model-alertbox.active {
  opacity: 1;
  top: 20%;
  transform: translate(-50%, -50%) scale(1);
}
